[client]
port = 3306
socket = /tmp/mysql.sock

[mysqld]
port = 3306
socket = /tmp/mysql.sock
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data
log-error = /usr/local/mysql/log/mysql_error.log
pid-file = /usr/local/mysql/data/mysql.pid
character_set_server = utf8
query_cache_size = 256M
max_allowed_packet = 32M
max_heap_table_size = 64M
sort_buffer_size = 8M
join_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 4M
thread_cache_size = 8M
tmp_table_size = 512M
max_connections = 250
server-id = 1
innodb_data_home_dir = /usr/local/mysql/data
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /usr/local/mysql/data
innodb_buffer_pool_size = 256M
innodb_log_file_size = 128M
innodb_max_dirty_pages_pct = 90
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 60
innodb_file_per_table = 0

[mysqldump]
max_allowed_packet = 16M

[mysql]
auto-rehash

[myisamchk]
key_buffer_size = 4M
sort_buffer_size = 4M
read_buffer = 4M
write_buffer = 4M

[mysqlhotcopy]
interactive-timeout
